body,
ul,
li,
p,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
    line-height: 200%;
}

body {
    font-size: 14px;
    font-family: "微软雅黑", Arial, sans-serif;
    color: #444;
    /* background-color: #d4e9fa; */
}

@media screen and (min-width: 1201px) {
    #main {
        width: 1200px
    }
}

/* css注释：设置了浏览器宽度不小于1201px时 abc 显示1200px宽度 */
@media screen and (max-width: 1200px) {
    #main {
        width: 900px
    }
}

/* 设置了浏览器宽度不大于1200px时 abc 显示900px宽度 */
@media screen and (max-width: 901px) {
    #main {
        width: 100%;
    }
}

/* 设置了浏览器宽度不大于901px时 abc 显示200px宽度 */
#main {
    margin: auto;
}

h1 {
    font-size: 24px;
    line-height: 24px;
}

h1,
h2,
h3 {
    font-weight: normal;
}

h2 {
    font-size: 15px;
    line-height: 20px;
}

h3 {
    font-size: 18px;
    line-height: 30px;
    display: block;
    font-weight: normal;
}

#content {
    margin: 0px;
    padding: 20px 20px 20px 20px;
    /* background-color: #E3F5FF; */
    margin-bottom: 50px;
}

/*公用类别*/
a:link,
a:visited,
a:active {
    background: inherit;
    text-decoration: none;
    color: #4B6073;
}

a:hover {
    text-decoration: underline;
}

ul {
    display: block;
    list-style: none;
    margin: 4px 4px 4px 0px;
    overflow: hidden;
    padding: 0;
}

ul li {
    height: auto;
    padding-bottom: 5px;
    display: block;
    margin: 0;
    min-height: 20px;
    padding: 0;
}

/*list前图标*/
.nav {
    background-image: url('../Images/nav.gif');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 20px 20px;
    background-position-y: center;
    min-width: 30px;
    display: inline-block;
}

.header {
    text-align: center;
    /* background: url(/Content/Images/bg2.jpg) no-repeat center top; */
    background-color: #444;
}

.me_img {
    border-radius: 300px;
    width: 120px;
    height: 120px;
    padding-top: 5px;
}

.me_name {
    font-size: 16px;
    color: white;
}

.me_description {
    color: gray;
}

.head_nav {
    /* background-color: #f4fcfe; */
}

.head_nav a {
    line-height: 45px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #666;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    text-decoration: none;
}
.head_nav a:hover{
    line-height: 45px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #999;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    text-decoration: none;
}

div.item {
    padding: 0 0 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e0dddd;
}

div.item p {
    text-indent: 2em;
}

.dateline {
    color: #999;
    font-size: 12px;
}

.entrylistTitle {
    font-size: 110%;
    font-weight: bold;
    border-bottom: 1px solid #000;
    text-align: right;
    padding: 1em;
    font-size: 1.3em;
    color: #1c7791;
    border-bottom: 1px solid #D1E6F3;
}

.entrylistDescription {
    color: #666;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    margin-bottom: 10px;
}

/* 页面大类样式 */
.categoryHead{
    font-size: 16px;
    color: #e0dddd;
    margin-bottom: 20px;
}