<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="@ViewBag.description" />
    <link rel="icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <title>{{ page.title }}</title>
    <link href="/Content/Styles/main.css" rel="stylesheet" />
    <link href="/Content/Styles/menu.css" rel="stylesheet" />
    <link href="/Content/Styles/list.css" rel="stylesheet" />
</head>

<body>
    <div id="main">
        <div id="content">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="width: 960px; vertical-align: top; overflow: hidden;">{{ content }}</td>
                    <td style="font-size: 12px; vertical-align: top; width: 220px; padding-left: 20px">
                        <div class="menu">
                            <div class="menuhead">
                                公告
                            </div>
                            <div style="text-align: center; margin-top: 5px;">
                                <img src="/Content/Images/tx.gif" width="198px" height="240px" alt="本人的头像">
                            </div>
                            <p style="margin-bottom: 5px;">
                                主要记录自己的一些文章和觉得不错的东西，将来会成为不错的回忆。
                            </p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>