<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@ViewBag.description" />
    <link rel="icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <title>{{ page.title }}</title>
    <link href="/Content/Styles/main.css" rel="stylesheet" />
    <link href="/Content/Styles/menu.css" rel="stylesheet" />
    <link href="/Content/Styles/list.css" rel="stylesheet" />
</head>

<body>
    <div class="header">
        <img src="/Content/Images/me.png" class="me_img">
        <div class="me_name">清风君--个人博客</div>
        <div class="me_description">我本一缕清风，逍遥天地间</div>
        <div class="head_nav"><a href="/index.html">个人</a>|<a href="/blog.html">技术</a>|<a href="/essay.html">心情</a>|<a href="/collect.html">收集</a></div>
    </div>
    <div id="main">
        <div id="content">
            {{ content }}
        </div>
    </div>
</body>

</html>